:root {
    --green: #00cc66;
    --light-green: #99ff99;
    --dark-green: #00994d;
    --green-blue: #00e6ac;
}

/*body {*/
/*    position: relative;*/
/*    min-height: 100vh;*/
/*}*/

body {
    min-height: 100vh;
    margin: 0;

    display: grid;
    grid-template-rows: auto 1fr auto;
}

.custom-nav {
    background-color: var(--green);
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0.08rem;
}

.nav-link {
    text-align: center;
    /*border-width: 2px;*/
    /*border-style: solid;*/
    /*border-color: var(--green);*/
    border-radius: 5px;
    color: rgba(0, 0, 0, .8) !important;
    font-size: 1.2rem;
}

.nav-link:hover {
    color: black !important;
    background-color: var(--green-blue);
    border-color: var(--green-blue);
}

.nav-item .register {
    border-color: var(--light-green);
}

.nav-item .register:hover {
    background-color: var(--light-green);
    opacity: 0.8;
}

.profile-button {
    margin-right: 20px;
}

@media screen and (max-width: 992px) {
    .profile-button {
        margin-right: 0;
    }
}

.profile-button:focus {
    box-shadow: 0 0 2px 1px var(--green-blue);
}

.profile-dropdown-box {
    box-shadow: 0 0 3px 1px var(--green-blue);
    background-color: var(--light-green);
}

.profile-dropdown-box li > a:hover {
    background-color: var(--green-blue);
}

div .steps-box {
    /*border: 2px solid var(--green);*/
    border-radius: 8px;
    text-align: center;
    background-color: #b3ffb3;
    justify-content: center;
    box-shadow: 0px 0px 2px 3px var(--green);
}

.steps-box h4 {
    text-decoration: underline;
    text-decoration-color: var(--green);
}

.steps-box p > a {
    color: var(--dark-green);
    text-decoration: none;
    text-decoration-color: #b3ffb3;
    font-weight: bold;
    transition: text-decoration-color 0.2s ease-in-out;
}

.steps-box p > a:hover {
    text-decoration: underline;
    text-decoration-color: var(--dark-green);
}

.label {
    width: 100%;
    margin-right: auto !important;
    margin-left: auto !important;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.orders-label {
    background-color: var(--light-green);
}

.custom-card {
    background-color: var(--light-green);
}

.take-order {
    height: 100%;
    width: 100%;
}


.apply-now-btn {
    text-decoration: none;
    background-color: var(--light-green);
    color: black;
    padding: 5px;
    border-radius: 10px;
    font-size: 32px;
    cursor: pointer;
}

.apply-now-btn:hover {
    text-decoration: none;
    background-color: var(--green);
    color: black;
    padding: 5px
}


.myfooter {
    min-height: 50px;
    background-color: var(--green);
    color: white;
}

.footer-header {
    border-bottom-style: dashed;
    border-bottom-color: white;
    border-bottom-width: 2px;
}

.footer-link {
    text-decoration: none;
    color: white;
}

.footer-link:hover {
    color: white;
}

.footer-item:hover{
    background-color: #999;
}

@media screen and (max-width: 767px) {
    .right-arrow {
        transform: rotate(90deg);
        margin-top: 10px;
        width: 25px;
    }
}

.vl {
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: var(--secondary);
    height: 100%;
    display: inline-block;
}

@media screen and (max-width: 767px) {
    .vl {
        transform: rotate(90deg);
    }
}