{% load static %}

<div class="container">
  <div class="row justify-content-center mt-2">
    <div class="col-12 col-md-3 steps-box">
      <h4>Step 1</h4>
      <a href="{% url 'register user' %}">
        <img src="{% static 'images/profile_steps_ico.svg' %}"
             class="mx-auto d-block"
             height="40"
             alt="">
      </a>
      <p>
        First, you will need to either <br>
        <a href="{% url 'register user' %}">Register</a> or <a href="{% url 'login user' %}">Sign In</a>.
      </p>
    </div>

    {% include 'common/index/right-arrow.html' %}

    <div class="col-12 col-md-3 steps-box mt-1 mt-md-0">
      <h4>Step 2</h4>
    </div>

    {% include 'common/index/right-arrow.html' %}

    <div class="col-12 col-md-3 steps-box mt-1 mt-md-0">
      <h4>Step 3</h4>
    </div>

  </div>
</div>