{% extends 'base/base.html' %}
{% load static %}
{% load profile_extras %}

{% block content %}
  {% add_profile_context %}
  {% if not orders %}
    <h3 class="text-center label orders-label">There are no orders available right now.</h3>
  {% else %}
    <h3 class="text-center label orders-label">Orders Available</h3>
  {% endif %}
  <div class="mt-2">
    {% for order in orders %}
      <div class="card px-0 mb-3 container-fluid custom-card">
        <div class="row g-0">
          <div class="col-md-2 justify-content-center">
            {% if order.image %}
              <img class="mx-auto d-block" src="{{ order.image.url }}" alt="" height="100" width="100">
            {% else %}
              <img class="mx-auto d-block" src="{% static 'images/generic_package.svg' %}" alt="" height="100"
                   width="100">
            {% endif %}
          </div>
          <div class="col-md-9">
            <h5 class="card-title text-center">Package Type: {{ order.type }}</h5>
            <hr>
            <div class="row m-0">
              <div class="col-md card-col">
                <p class="card-text">Destination Address: {{ order.destination_address }}</p>
              </div>
              <div class="col-md card-col">
                <p class="card-text">Client Name: {{ order.client.first_name }} {{ order.client.last_name }}</p>
                <p class="card-text">Client Address: {{ order.client.address }}</p>
              </div>
            </div>
          </div>
          <div class="col-md-1 p-0">
            <form method="post"
                  class="take-order"
                  action="{% url 'order details' order.id %}">
              {% csrf_token %}
              <button class="btn btn-success take-order">Take Order</button>
            </form>
          </div>
        </div>


      </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}