{% extends 'base/base.html' %}

{% block content %}
  <div class="col-md-4 mx-auto mt-2 p-2 border">
    <h4 class="text-center label orders-label">Login in into your account</h4>
    <form method="post"
          action="{% url 'login user' %}">
      {% csrf_token %}
      {{ form }}
      <button class="btn btn-success mt-2">Login</button>
    </form>
    <hr>
    <p>Don't have an account ?<br>
      Create account <a class="btn btn-warning" href="{% url 'register user' %}">Here</a></p>
  </div>
{% endblock %}